<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="iCua.Activities"
      android:versionCode="1"
      android:versionName="1.0.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".iCua"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity android:name="AlbumsList">
</activity>
    <activity android:name="ArtistsList">
</activity>
    <activity android:name="SongsList">
</activity>
    <activity android:name="About">
</activity>
    <activity android:name="OnAir">
</activity>
    <activity android:name="OnAirRadio">
</activity>

    <activity android:name="Playlists">
</activity>
 <activity android:name="inPlaylists">
</activity>

 <activity android:name="Config">
</activity>

    <activity android:name="AddContent">
</activity>
    <activity android:name="LastRadio">
</activity>
        <service android:name="iCua.Services.RemoteService" android:process=":remote">
            <intent-filter>
                <!-- These are the interfaces supported by the service, which
                     you can bind to. -->
                <action android:name="iCua.Services.IRemoteService" />
                <action android:name="iCua.Services.ISecondary" />
                <!-- This is an action code you can use to select the service
                     without explicitly supplying the implementation class. -->
                <action android:name="iCua.Services.REMOTE_SERVICE" />
            </intent-filter>
        </service>

</application>
    <uses-permission android:name="android.permission.INTERNET" />

</manifest> 